/*
body {
  background-color: #000000;
}
*/

#flag {
  width: 80px;
  height: 52px;
}

.flag-blue {
  background-color: rgb(0,85,164);
  width: 26px;
  height: 52px;
  margin: 0px -4px 0px 0px;
  display: inline-block;
}

.flag-white {
  background-color: #FFFFFF;
  width: 26px;
  height: 52px;
  margin: 0px -4px 0px 0px;
  display: inline-block;
}

.flag-red {
  background-color: rgb(239, 65, 53);
  width: 26px;
  height: 52px;
  margin: 0px -4px 0px 0px;
  display: inline-block;
}
